{% extends 'item_base.html' %}
{% load static %}

{% block head %}
    <title>{{ header }}</title>
    <link href="{% static 'index/styles.css' %}" rel="stylesheet">
{% endblock head %}

{% block body %}
    <div id="navbar" class="sticky">
        <a href="/accounts/homepage">Home</a>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Log Out</a>
        {% else %}
            <a href="{% url 'login' %}">Log In</a>
        {% endif %}
        <a href="{% url 'index' %}">Back to Stocks</a>

    </div>

    <div class="content">
        <h1>{{ header }}</h1>
        <h3> Updates since {{ now }} EST</h3>

        <table class="item_table">
                <tr class="item_heading">
                    {% for key in keys %}
                    <th>{{ key }}</th>
                    {% endfor %}
                </tr>

                <tr class="item_data">
                    {% for value in values %} 
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
        </table>

        <br>
        <form action="" method=POST>
            {% csrf_token %}

            {{ form.as_p }}
            
            <input type="submit" value="Purchase" class="btn">

        </form>
    </div>

{% endblock body %}